#cloud-config
groups:
  - admingroup: [root,sys,tpa]
  - cloud-users
users:
  - default
  - name: tpa
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFwg5sgQuZEBbFEogxh+K83v+By4Lt2b0VyFeIATpsWI cloud-init
